<div id="footer">
  <ul class="footer_links">

    <li class="footer_link">
      <strong>© Tumblr, Inc.</strong>
    </li>

    <li class="footer_link">
      <a href="https://www.tumblr.com/help">Help</a>
    </li>

    <li class="footer_link">
      <a href="https://www.tumblr.com/about">About</a>
    </li>

    <li class="footer_link">
      <a href="https://www.tumblr.com/apps">Apps</a>
    </li>

    <li class="footer_link">
      <a href="https://www.tumblr.com/developers">Developers</a>
    </li>

    <li class="footer_link">
      <a href="https://www.tumblr.com/themes/" title="Tumblr Themes">Themes</a>
    </li>

    <li class="footer_link">
      <a href="https://www.tumblr.com/meetups">Meetups</a>
    </li>

    <li class="footer_link">
      <a href="https://www.tumblr.com/jobs" onclick="this.href = '/jobs?Tumblr+Footer';">Jobs</a>
    </li>

    <li class="footer_link" id="popover_legal">

      <a class=" popover_legal_link" href="https://www.tumblr.com/policy/en/terms_of_service">Legal</a>
      <div style="margin-left: -1px;" class="popover popover_menu popover_gradient nipple_on_bottom popover_legal">
        <ul class="popover_inner">
          <li class="popover_menu_item"><a href="https://www.tumblr.com/policy/en/terms_of_service">Terms</a></li>
          <li class="popover_menu_item"><a href="https://www.tumblr.com/policy/en/terms_of_service#dmca">Copyright</a></li>
        </ul>
      </div>
    </li>

    <li class="footer_link">
      <a href="https://www.tumblr.com/policy/en/privacy">Privacy</a>
    </li>

    <li class="footer_link">
      <a href="https://github.com/mozillazg/mtum.git">Source Code</a>
    </li>
  </ul>
</div>
