<!DOCTYPE html>
<html lang="" class="no_js logged_in tab_switcher_safari" id="logged_in">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=960" id="viewport">
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <title> Tumblr </title>
    <link ilo-ph-fix="tofix" alt="[Image]" ilo-full-src="http://assets.tumblr.com/favicon.ico?3" rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="http://assets.tumblr.com/images/apple_touch_icon.png?2">
    <meta name="application-name" content="Tumblr">
    <meta name="msapplication-TileColor" content="#2c4762">
    <meta name="msapplication-TileImage" content="http://assets.tumblr.com/images/msfavicon.png">
    <meta name="apple-itunes-app" content="app-id=305343404,app-argument=tumblr://x-callback-url/dashboard?referrer=smart-app-banner">
    <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" media="all"> -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css" media="all">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/global.css" media="all">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/index.css" media="all">
    {% endblock %}
  </head>
  <body id="dashboard_index" class="dashboard_index logged_in with_auto_paginate is_dashboard layout_standard" data-form-key="fdx8oYTujh4LqC7u3sz98ZmuoQw" data-new-root="" data-page-root="/dashboard"><img ilo-ph-fix="tofix" style="position: absolute; z-index: -3334; top: 0px; left: 0px; visibility: hidden;" src="impixu">    

    <div data-token="body-plexi" class="plexi color"></div>

    {% block header %}
      {% include "header.html" %}
    {% endblock %}

    {% block main %}
    {% endblock %}


    <div id="footer_container" class="clearfix">
      {% include "footer.html" %}
    </div>
  </div>

  {% block others %}
  {% endblock %}

  {% block js %}
  {% endblock %}
</body>
</html>
