{% extends "dashboard/base.html" %}
{% load url from future %}
{% load endless %}
{% load account_extras %}
{% load dashboard_extras %}

{% block main %}
      <!-- <div id="sidebar_footer_nav" class="pinned_sidebar_footer"> -->
        <!-- <ul class="sidebar_nav clearfix"> -->

          <!-- <li class="sidebar_nav_item"> -->
            <!-- <a class="sidebar_link" href="http://www.tumblr.com/themes" target="_new">Themes</a> -->
          <!-- </li> -->
          <!-- <li class="sidebar_nav_item"> -->
            <!-- <a class="sidebar_link" href="http://www.tumblr.com/about">About</a> -->
          <!-- </li> -->
          <!-- <li class="sidebar_nav_item" id="popover_legal"> -->
            <!-- <a class="sidebar_link popover_legal_link" href="http://www.tumblr.com/policy/en/terms_of_service" target="_new">Legal</a> -->
            <!-- <div style="margin-left: -60px;" class="popover popover_menu popover_gradient nipple_on_bottom popover_legal"> -->
              <!-- <ul class="popover_inner"> -->
                <!-- <li class="popover_menu_item"><a href="http://www.tumblr.com/policy/en/terms_of_service" target="_new">Terms</a></li> -->
                <!-- <li class="popover_menu_item"><a href="http://www.tumblr.com/policy/en/terms_of_service#dmca" target="_new">Copyright</a></li> -->
              <!-- </ul> -->
            <!-- </div> -->
          <!-- </li> -->

          <!-- <li class="sidebar_nav_item"> -->
            <!-- <a class="sidebar_link" href="http://www.tumblr.com/policy/en/privacy" target="_new">Privacy</a> -->
          <!-- </li> -->
      <!-- </ul> -->
    <!-- </div> -->

      <img ilo-ph-fix="tofix" src="content_top.png" alt="" class="content_cap" id="content_top"><div id="content" class="clearfix">

        <div id="toast_float">
          <div id="toast_container">
            <div id="toast_position">
              <ul id="toaster"></ul>
            </div>
          </div>
        </div>


        <div id="sidebar_notifications"></div>

        <!-- Dashboard controls -->
        {% include "dashboard/sidebar.html" %}

        <!-- Left column -->
        <div id="left_column">
          <!-- Top pagination -->

          <!-- Posts -->
          <ol id="posts" class="  ">

            <li class="post is_mine with_avatar new_post" id="new_post">
              <nav id="post_buttons" class="clearfix">
                <a href="{% url 'new_text' %}" class="new_post_label" id="new_post_label_text" data-post-type="regular" data-post-endpoint="text">Text<span class="new_post_label_icon"></span></a>
                <a href="{% url 'new_photo' %}" class="new_post_label" id="new_post_label_photo" data-post-type="photo">Photo<span class="new_post_label_icon"></span></a>
                <a href="#new_quote" class="new_post_label" id="new_post_label_quote" data-post-type="quote">Quote<span class="new_post_label_icon"></span></a>
                <a href="#new_link" class="new_post_label" id="new_post_label_link" data-post-type="link">Link<span class="new_post_label_icon"></span></a>
                <a href="#new_chat" class="new_post_label" id="new_post_label_chat" data-post-type="conversation" data-post-endpoint="chat">Chat<span class="new_post_label_icon"></span></a>
                <a href="#new_audio" class="new_post_label" id="new_post_label_audio" data-post-type="audio">Audio<span class="new_post_label_icon"></span></a>
                <a href="{% url 'new_video' %}" class="new_post_label" id="new_post_label_video" data-post-type="video">Video<span class="new_post_label_icon"></span></a>
              </nav>
              <span class="arrow"></span>

              <div class="avatar_and_i">
                <a href="{% url 'user_index' user.get_profile.slug %}" title="{{ user.get_profile.title }}" class="post_avatar" id="post_controls_avatar" style="background: url('{{ user|get_avatar:64 }}') no-repeat scroll right top rgb(10, 41, 57);" data-user-avatar-url="http://assets.tumblr.com/images/default_avatar_64.gif" data-avatar-url="http://assets.tumblr.com/images/default_avatar_64.gif" data-blog-url="{% url 'user_index' user.get_profile.slug %}"></a>

                <a href="{% url 'user_index' user.get_profile.slug %}" title="{{ user.get_profile.title }}" class="sub_avatar" id="post_controls_sub_avatar" style="{{ user|get_avatar:30 }}"></a>
              </div>

              <a href="#settings" id="set_avatar_link" style="text-decoration: none;">+ Pick avatar</a>


            </li>

            <!-- <li id="flash_notifications"> -->
              <!-- <div data-view-exists="true" id="dashboard_explore_notice" data-cookie="hide_dashboard_explore|1|7" class="notification flash_notification informational no_click has_button"> -->
                <!-- <div class="notification_inner"> -->
                  <!-- <span class="notification_text underline_links">Your Dashboard now includes posts from popular blogs.<br>Update your <a href="http://www.tumblr.com/preferences">Preferences</a> to disable this feature or <a href="http://www.tumblr.com/spotlight">follow blogs we recommend</a> in our Spotlight.</span> -->
                <!-- </div> -->
                <!-- <div class="notification_dismiss"><span class="icon">Dismiss</span></div> -->
              <!-- </div> -->
            <!-- </li> -->


            <li id="flash_notifications"></li>


            <!-- START POSTS -->
            <div class="endless_page_template">
              {% include "dashboard/post_info.html" %}
            </div>
            <!-- END POSTS -->
          </ol>

        </div>

        <div class="clear"></div>

        <div id="pagination" style="display: none;">

          <a id="next_page_link" href="http://www.tumblr.com/dashboard/2/42025312779">Next page →</a>
        </div>



        <!-- New posts notice -->

      </div><img title="" ilo-ph-fix="tofix" ilo-full-src="http://assets.tumblr.com/images/content_bottom.png?alpha" src="content_bottom.png" alt="" class="content_cap" id="content_bottom">
{% endblock %}



  {% block others %}
  <style>
    .endless_loading {
      color: #2C4762;
    }
  </style>

  {% paginate 5 posts %}
  {% get_pages %}
    <div id="auto_pagination_loader"{% if not pages.next %}style="display:none;"{% endif %}>
      <span id="auto_pagination_loader_loading">
        <div class="spinner"></div>
        Loading more posts...    </span>

      <span id="auto_pagination_loader_failure" style="display: none;">
        Sorry, we couldn't load the next page!&nbsp; <a href="#" onclick="Tumblr.AutoPaginator.start(); return false;">Try again</a>.    </span>

      <span id="auto_pagination_loader_no_posts" style="display: none;">
        Sorry, we couldn't find any more posts!    </span>
    </div>



    <div id="report_tumblelog_bar" style="display: none;">
      <span id="report_tumblelog_with_name" style="display: none;">
        Report <span id="report_tumblelog_name"></span>?                </span>
      <span id="report_tumblelog_without_name" style="display: none;">Report this person?</span>
      <button class="chrome spam"><div class="chrome_button"><div class="chrome_button_left"></div>Spam<div class="chrome_button_right"></div></div></button>
      <button class="chrome harassment"><div class="chrome_button"><div class="chrome_button_left"></div>Harassment<div class="chrome_button_right"></div></div></button>
      <button class="chrome dismiss"><div class="chrome_button"><div class="chrome_button_left"></div>No thanks<div class="chrome_button_right"></div></div></button>
    </div>


    <!-- <a class="invisible" href="#" style="display: block; opacity: 0;" id="return_to_top"><div class="return_to_top_icon"></div></a> -->
<a id="return_to_top" style="display: block; opacity: 1;" href="#" class=""><div class="return_to_top_icon"></div></a>

    <div id="tab_switching" class="tab_switching inactive">
      <div class="tab_blogs count_2">
        <div class="tab_blog item tab_dashboard">
          <div class="blog_icon dashboard">
            <i class="blog_icon_resting"><img title="http://assets.tumblr.com/images/tab_switching_dashboard_resting.png  file:///D:/Settings/Mozilla/ScrapBook/data/20130207143219/tab_switching_dashboard_resting.png" ilo-ph-fix="tofix" alt="[Image]" ilo-full-src="http://assets.tumblr.com/images/tab_switching_dashboard_resting.png" class="blog_icon_img" src="tab_switching_dashboard_resting.png"></i>
            <i class="blog_icon_active"><img title="http://assets.tumblr.com/images/tab_switching_dashboard_active.png  file:///D:/Settings/Mozilla/ScrapBook/data/20130207143219/tab_switching_dashboard_active.png" ilo-ph-fix="tofix" alt="[Image]" ilo-full-src="http://assets.tumblr.com/images/tab_switching_dashboard_active.png" class="blog_icon_img" src="tab_switching_dashboard_active.png"></i>
          </div>
          <a class="blog_name" href="http://www.tumblr.com/dashboard">
            <span class="blog_name_span">Dashboard</span>
          </a>
          <div class="tab_notice new_post_notice_container"><div class="tab_notice_value"></div></div>
        </div>
        <div class="tab_blog item" id="tab_blog_mozillazg">
          <div class="blog_icon " style="background-image: url('default_avatar_128.gif');">
            <i class="blog_icon_overlay"></i>
          </div>
          <a class="blog_name" href="{% url 'user_index' user.get_profile.slug %}">
            <span class="blog_name_span">{{ user.get_profile.title }}</span>
          </a>
        </div>
      </div>
    </div>
  {% endblock %}


{% block js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-migrate-1.1.0.min.js"></script>
  <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
  <script src="{{ STATIC_URL }}js/global.js"></script>
  <script src="{{ STATIC_URL }}js/dashboard.js"></script>
  <script>
      $.endlessPaginate({
          paginateOnScroll: true,
          paginateOnScrollMargin: 30
          // paginateOnScrollChunkSize: 1
      });
  </script>
{% endblock %}
