{% extends "post/base.html" %}
{% load url from future %}
{% load account_extras %}
{% load dashboard_extras %}

{% block middle %}
  <ol id="posts">
    {% include "post/post_info.html" %}

    <li class="post notes">
      <h3 class="title">Notes</h3>
      <ol class="notes">

        {% include "post/notes_page.html" %}

      </ol>
    </li>
  </ol>
{% endblock %}

{% block post_social %}
{% if user != blog_author %}

  {% if user|is_liked:post %}
  <a data-id="42415974534" data-key="Z7EBEgjm" title="Like" href="{% url 'like' post.id %}" class="btn icon no_label like hidden" id="like">Like</a>
  <a data-id="42415974534" data-key="Z7EBEgjm" title="Unlike" href="{% url 'unlike' post.id %}" class="btn icon no_label unlike " id="unlike">Unlike</a>
  {% else %}
  <a data-id="42415974534" data-key="Z7EBEgjm" title="Like" href="{% url 'like' post.id %}" class="btn icon no_label like " id="like">Like</a>
  <a data-id="42415974534" data-key="Z7EBEgjm" title="Unlike" href="{% url 'unlike' post.id %}" class="btn icon no_label unlike hidden" id="unlike">Unlike</a>
  {% endif %}

  <a target="_top" data-form-key="fdx8oYTujh4LqC7u3sz98ZmuoQw" data-reblog-id="42415974534" data-reblog-key="Z7EBEgjm" href="{% url 'reblog' post.id %}" title="Reblog" class="btn icon reblog">Reblog</a>
{% endif %}

{% endblock %}


{% block js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-migrate-1.1.0.min.js"></script>
  <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
  <script>$.endlessPaginate();</script>
{% endblock %}
