{% load url from future %}
{% load account_extras %}

<li class="post
  {% if post.reblog %}
  reblog
  {% else %}
  {% ifequal post.kind "T" %}
  text
  {% endifequal %}
  {% ifequal post.kind "P" %}
  photo
  {% endifequal %}
  {% ifequal post.kind "V" %}
  video
  {% endifequal %}
  {% endif %}
  photo">

  {% if post.reblog %}
  <a class="reblog_icon" style="background-image: url('{{ post.reblog.author|get_avatar:64 }}');" href="{% url 'post_detail' post.reblog.author.get_profile.slug post.reblog.id %}">
    <span></span>
  </a>
  {% endif %}
  <a class="icon" href="{% url 'post_detail' post.author.get_profile.slug post.id %}"></a>

  <div class="posted">
    Notes: <b>{{ notes|length }}</b> / {{ post.created_at|timesince|truncatewords:2|cut:","|cut:"." }} ago
    {% if post.reblog %}from {{ post.reblog.author.get_profile.slug }}{% endif %}
  </div>

  {% ifequal post.kind "T" %}
  {% if post.title %}
  <h3 class="title">{{ post.title|title }}</h3>
  {% endif %}
  {% endifequal %}

  {% ifequal post.kind "P" %}
  {% if post.source %}
  <a href="{{ post.source }}">
    {% else %}
    <a href="{{ post.photo }}">
      {% endif %}
      <img src="{{ post.photo }}" />
    </a>
    {% endifequal %}

    {% ifequal post.kind "V" %}

    {% endifequal %}

    <div class="caption">
      {{ post.content }}
    </div>

    {% with post.tags.all as tags %}
    {% if tags %}
    <ul class="tags">
      <li>Tagged:</li>
      {% for tag in tags %}
      <li><a href="{% url 'user_tag' blog_author.get_profile.slug tag.slug %}">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="clear"></div>
  </li>

