<a href=""><img width="128" height="128" alt="avatar_128" src="avatar_186e6d2a56cb_128.png" id="avatar"></a>

<!--((SEARCH))(X)-->
<div class="clear"></div>
<div id="searchfield">
  <form method="get" action="http://er0.tumblr.com/search" form="" id="searchbox">
    <input type="text" value="" name="q" id="keywords" class="text">
    <input type="submit" class="search" value="">
  </form>
</div>
<div class="clear"></div>

<!--((YOUR HTML))-->
<!--<a href="http://nomarai.iraira.info/tumbview/er0">agebo ero部 - たんぶらびゅーあー </a><p></p>-->

<!--<p>お気に入りポストにスターをクリック！！</p>-->

<!--<p><br>-->
  <!--オモロ部は<a 　target="_blank" href="http://omoro.tumblr.com/"><font color="#33BB33">こちら</font></a><br>-->



</p><div class="clear"></div>

<!--((LATEST TWEETS))-->

<!--<div style="display: block;" id="twitter">-->
  <!--<h3 class="title"><a href="http://twitter.com/agebobo">Latest Tweets</a></h3>-->
  <!--<div id="tweets"></div>-->
  <!--</div>-->

<!--<div class="clear"></div>-->

<!--((FOLLOW))-->


<!--((BUTTONS))(X)-->
<h3 class="title">Tumblr</h3>
<div id="buttons">
  <div class="row">
    <div id="button-rss" class="button"><a href="http://er0.tumblr.com/rss">RSS Feed</a></div>
    <div id="button-random" class="button"><a href="http://er0.tumblr.com/random">Random</a></div>
  </div>

  <div class="clear"></div>
  <div class="row">
    <div id="button-archive" class="button"><a href="http://er0.tumblr.com/archive">Archive</a></div>
    <div id="button-mobile" class="button"><a href="http://er0.tumblr.com/mobile">Mobile</a></div>
  </div>
</div>

<div class="clear"></div>
<div id="footer">&copy; 2008&ndash;2013 agebo ero部.... design by <a href="http://for-screen.tumblr.com/">for-screen.com</a> for tumblr.</div>
