{% load url from future %}
{% load account_extras %}

<a href="{% url 'user_index' blog_author.get_profile.slug %}"><img width="128" height="128" alt="avatar_128" src="{{ blog_author|get_avatar:128 }}" id="avatar" onerror="this.src='{{ STATIC_URL }}img/default_avatar_128.gif';"></a>

<!--((SEARCH))(X)-->
<div class="clear"></div>
<div id="searchfield">
  <form method="get" action="{% url 'user_search' blog_author.get_profile.slug %}" form="" id="searchbox">
    <input type="text" value="{% if tag_name %}{{ tag_name }} {% else %}{{ keyword|default:'' }}{% endif %}" name="q" id="keywords" class="text">
    <!-- placeholder="Search tags"> -->
    <input type="submit" class="search" value="">
  </form>
</div>
<div class="clear"></div>

<!--((YOUR HTML))-->
{{ blog_author.get_profile.description|linebreaks|default:'' }}

</p><div class="clear"></div>

<!--((LATEST TWEETS))-->

<!--((FOLLOW))-->

<!--((BUTTONS))(X)-->
<h3 class="title">Tumblr</h3>
<div id="buttons">
  <div class="row">
    <div id="button-rss" class="button"><a href="#rss">RSS Feed</a></div>
    <div id="button-random" class="button"><a href="{% url 'random' blog_author.get_profile.slug %}">Random</a></div>
  </div>

  <div class="clear"></div>
  <div class="row">
    <div id="button-archive" class="button"><a href="#archive">Archive</a></div>
    <div id="button-mobile" class="button"><a href="#mobile">Mobile</a></div>
  </div>
</div>

<div class="clear"></div>
<div id="footer">&copy; 2013 {{ blog_author.get_profile.title }}.... design by <a href="http://for-screen.tumblr.com/">for-screen.com</a> for tumblr.</div>
