
{% extends "account/register_base.html" %}
{% load url from future %}


{% block header_link %}

{% endblock %}



{% block main %}

<div id="signup_forms" class="signup_forms clearfix">
  <form action="" method="post" id="forgot_password_form">
    {% csrf_token %}
    <div class="forgot_password_form form signup_forms_container clearfix">
          <div class="form_row form_row_email">
                <label for="email">Account email address</label>
                <input type="text" value="" placeholder="Account email address" class="text_field" id="email" name="email">
            <!-- {{ form.email }} -->
          </div>
    </div>
  <div id="forgot_password_buttons" class="form-buttons clearfix">
            <a onclick="window.close();" href="https://www.tumblr.com/" class="chrome shallow cancel">Nevermind</a>
            <button class="chrome blue on_dark last-button" type="submit">Reset password</button>
        </div>
  </form>
</div>



{% endblock %}
