{% extends "account/register_base.html" %}
{% load url from future %}


{% block header_link %}
  <a class="login_signup_button chrome shallow login" id="signup_button_login" href="{% url 'login' %}">Log in</a>

  {{ block.super }}

{% endblock %}

{% block main %}

<div id="signup_forms" class="signup_forms clearfix {% if msg %}has_errors{% endif %}">
  <form action="" method="post" id="signup_form" class="signup_form_form">
    {% csrf_token %}
    <div id="signup_forms_container" class="signup_forms_container clearfix">
      <div id="signup_forms_panel" class="signup_forms_panel clearfix">
        <div id="signup_account" class="signup_view account login">
          <div class="form_row form_row_email">
            <label for="signup_email">Email</label>
            {{ form.email }}
          </div>
          <div class="form_row form_row_password">
            <label for="signup_password">Password</label>
            {{ form.password }}
          </div>
          <div class="form_row username">
            <label for="signup_username">Username</label>
            {{ form.username }}
          </div>
        </div>
      </div>
    </div>
    <ul id="signup_form_errors" class="signup_forms_errors">
      <li class="error">{{ msg }}</li>
    </ul>
    <button type="submit" id="signup_forms_submit" class="chrome big on_dark signup_forms_submit touchy blue">
      <span class="account_btn">Start</span>
    </button>
  </form>
</div>

<!-- <form action="" method="POST"> -->
  <!-- {% csrf_token %} -->
  <!-- {{ form.as_p }} -->
  <!-- <input type="submit" value="Start" /> -->
<!-- </form> -->

{% endblock %}
