{% load url from future %}
{% load markup %}

<div data-animated-gif="false" data-tumblelog="hyperform" data-id="{{ post.id }}" data-grow-height="403" data-grow-width="323" data-effect="grow" data-lightbox="true" data-type="photo"
  class="ht_post {{ post.get_kind_display }} {% if post.kind == 'P' %}not_expanded {% endif %}
  {% if post.tags.all %}has_tags {% endif %} {% if post.kind == 'T' %}box {% endif %}" id="ht_post_{{ post.id }}">

  {% if post.kind == 'P' %}
  <div style="background-image: url('{{ post.photo }}');" class="stage">
    <div class="bg-image-fallback">
      <img src="{{ post.photo }}">
    </div>
    <!-- <a target="_top" href="{{ third.link|default:'#' }}" class="go"></a> -->
    <a target="_top" href="{% url 'post_detail' post.author.get_profile.slug post.id %}" class="go"></a>
  </div>
  {% endif %}
  {% if post.kind == 'T' %}
  <div class="stage">
    <div class="overfade"></div>
    <div class="content">
      {{ post.content|markdown:"safe" }}
    </div>
    <a target="_blank" href="{% url 'post_detail' post.author.get_profile.slug post.id %}" class="go"></a>
    </div>
  {% endif %}
</div>

{% if post.tags.all %}
<div class="ht_controls">
  <div class="tags">
    <ul>
      {% for tag in post.tags.all %}
      {% if tag.kind == "F" %}
      <li><a class="hello_tag featured" href="{% url 'tagged' tag.slug %}"><span>#</span>{{ tag.name }}</a></li>
      {% else %}
      <li><a class="hello_tag" href="{% url 'tagged' tag.slug %}"><span>#</span>{{ tag.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
