{% extends "index/base.html" %}
{% load url from future %}
{% load dashboard_extras %}


{% block main %}
<!-- Hello dash -->
<div id="hello_tags" class="clearfix">


  <div class="endless_page_template">
    {% include "index/index_page.html" %}
  </div>

  <div class="clear"></div>
</div>
{% endblock %}


{% block js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-migrate-1.1.0.min.js"></script>
  <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
  <script>
      $.endlessPaginate({
          paginateOnScroll: true,
          paginateOnScrollMargin: 50
          // paginateOnScrollChunkSize: 1
      });
  </script>
{% endblock %}


{% block footer %}
  {% if keyword %}
    <div id="auto_pagination_loader">
      <span id="auto_pagination_loader_loading">
          <div class="spinner"></div>
          Loading more posts...    </span>

      <span style="display: none;" id="auto_pagination_loader_failure">
          Sorry, we couldn't load the next page!&nbsp; <a onclick="Tumblr.AutoPaginator.start(); return false;" href="#">Try again</a>.    </span>

      <span style="display: none;" id="auto_pagination_loader_no_posts">
          Sorry, we couldn't find any more posts!    </span>
  </div>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
