<!DOCTYPE html>

<html class="no_js logged_in" id="logged_in" lang="">
    <head>
        <script type="text/javascript" language="javascript">ENVIRONMENT = 'production'</script>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=960" id="viewport" />
        <meta http-equiv="x-dns-prefetch-control" content="off"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <title> Inbox |                 Tumblr                    </title>
        <link rel="shortcut icon" href="http://assets.tumblr.com/favicon.ico?3" />
        <link rel="apple-touch-icon-precomposed" href="http://assets.tumblr.com/images/apple_touch_icon.png?2"/>

        <meta name="application-name" content="Tumblr"/>
        <meta name="msapplication-TileColor" content="#2c4762"/>
        <meta name="msapplication-TileImage" content="http://assets.tumblr.com/images/msfavicon.png"/>
        <meta name="tumblr-form-key" content="NUpusTgaUNQEBolrZj4M3mUWDqs" id="tumblr_form_key" />

        {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dashboard/global.css?1ssd2ad">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css?58cd4f">

<!--<link rel="stylesheet" type="text/css" href="http://assets.tumblr.com/stylesheets/editor.css?1086"/>-->
  {% endblock %}

<img style="position:absolute;z-index:-3334;top:0px;left:0px;visibility:hidden;" src="http://www.tumblr.com/impixu?T=1361851153&J=eyJ0eXBlIjoidXJsIiwidXJsIjoiaHR0cDpcL1wvd3d3LnR1bWJsci5jb21cL2luYm94In0=&U=JDIHFOOFIE&K=e5d9e603d060cb6c3e07817e1605f7e85e9d40db740084447f531e4cb60e702d"/>    </head>
    <body id="dashboard_inbox" class="dashboard_inbox logged_in without_auto_paginate layout_standard"  data-form-key="NUpusTgaUNQEBolrZj4M3mUWDqs" data-new-root="" data-page-root="/inbox">        
            
                <div data-token="body-plexi" class="plexi color"></div>

          {% block header %}
            {% include "message/header.html" %}

          {% endblock %}
        
            
            <img src="http://assets.tumblr.com/images/content_top.png?alpha" alt="" class="content_cap" id="content_top"
            />
    <div id="content" class="clearfix">

      <div id="toast_float">
        <div id="toast_container">
          <div id="toast_position">
            <ul id="toaster"></ul>
          </div>
        </div>
      </div>

                
<style type="text/css">
    .small_color_box {
        cursor: pointer;
        float: left;
        width: 35px;
        height: 20px;
        border: solid 2px #33414f;
    }

    .dashboard_options_form .divider {
        background-color: #374f64;
        height: 1px;
        margin: 12px 0px;
    }

    #posts .post .post_controls {
        line-height: 13px;
    }
</style>


<!-- Dashboard Controls -->
<div id="right_column">
    
  {% include "message/sidebar.html" %}    

</div>


<!-- Left Column -->
<div id="left_column">
    
<!--</ul>-->
{% block main %}

{% endblock %}

    
</div>

<div class="clear"></div>

            </div><img src="http://assets.tumblr.com/images/content_bottom.png?alpha" alt="" class="content_cap" id="content_bottom"/>

            
            
        </div>

        <div id="footer_container" class="clearfix">
          {% block footer %}
            {% include "footer.html" %}
          {% endblock %}
        </div>

                
                    <div id="report_tumblelog_bar" style="display:none;">
                <span id="report_tumblelog_with_name" style="display:none;">
                    Report <span id="report_tumblelog_name"></span>?                </span>
                <span id="report_tumblelog_without_name" style="display:none;">Report this person?</span>
                <button class="chrome spam"><div class="chrome_button"><div class="chrome_button_left"></div>Spam<div class="chrome_button_right"></div></div></button>
                <button class="chrome harassment"><div class="chrome_button"><div class="chrome_button_left"></div>Harassment<div class="chrome_button_right"></div></div></button>
                <button class="chrome dismiss"><div class="chrome_button"><div class="chrome_button_left"></div>No thanks<div class="chrome_button_right"></div></div></button>
            </div>


<style>
#return_to_top {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 10;
min-width: 0;
}
#return_to_top:hover .return_to_top_icon {
  /*opacity: 0.45;*/
}
#return_to_top .return_to_top_icon {
  background: url('{{ STATIC_URL }}img/dashboard_master_sprite.png') no-repeat scroll -600px -190px transparent;
}
</style>
<a id="return_to_top" style="display: block; opacity: 1;" href="#" class=""><div class="return_to_top_icon"></div></a>

                                            
<div id="tab_switching" class="tab_switching inactive">
    <div class="tab_blogs count_2">
        <div class="tab_blog item tab_dashboard">
            <div class="blog_icon dashboard">
                <i class="blog_icon_resting"><img class="blog_icon_img" src="http://assets.tumblr.com/images/tab_switching_dashboard_resting.png"></i>
                <i class="blog_icon_active"><img class="blog_icon_img" src="http://assets.tumblr.com/images/tab_switching_dashboard_active.png"></i>
            </div>
            <a class="blog_name" href="/dashboard">
                <span class="blog_name_span">Dashboard</span>
            </a>
            <div class="tab_notice new_post_notice_container"><div class="tab_notice_value"></div></div>
        </div>
                            <div class="tab_blog item" id="tab_blog_mzg101">
            <div class="blog_icon " style="background-image:url(http://assets.tumblr.com/images/default_avatar_128.gif)">
                <i class="blog_icon_overlay"></i>
                            </div>
            <a class="blog_name" href="/blog/mzg101">
                <span class="blog_name_span">Untitled</span>
            </a>
        </div>
        </div>
</div>                    


  </body>
</html>
