{% extends "message/base.html" %}
{% load url from future %}
{% load account_extras %}
{% load dashboard_extras %}
{% load message_extras %}


{% block main %}

<ol id="posts">
  <!-- START POSTS -->

  <div class="endless_page_template">
    {% include "message/index_page.html" %}
  </div>



  <li>
    <img style="position:absolute;z-index:-3334;top:0px;left:0px;visibility:hidden;" src="http://www.tumblr.com/impixu?T=1361851153&J=eyJ0eXBlIjoicG9zdCIsInVybCI6Imh0dHA6XC9cL3d3dy50dW1ibHIuY29tXC9pbmJveCIsInBvc3RzIjpbeyJwb3N0aWQiOjQ0MDM1NDE2MjE2LCJibG9naWQiOiI5NTU2NzYxNCIsInNvdXJjZSI6MzMzfSx7InBvc3RpZCI6NDQwMzUyODE5MTQsImJsb2dpZCI6Ijk1NTY3NjE0Iiwic291cmNlIjozMzN9XX0=&U=LGLBNJEIEK&K=a93b2ad858133610bc04b3853af06792e584536e3809a3b4e896bdfa6c3b468d"/>    </li>

  <!-- END POSTS -->
</ol>

<style>
  .endless_container {
    clear: both;
    position: relative;
    margin: 20px 0 0 0;
    padding: 15px 20px 15px 20px;
    background-color: white;
    border-bottom: solid 2px #BBB;
    word-wrap: break-word;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: right;
  }
  .endless_more {
  }
</style>

{% endblock %}


{% block js %}
  {{ block.super }}

  <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-migrate-1.1.0.min.js"></script>
  <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
  <script>$.endlessPaginate(); </script>
{% endblock %}
