{% load url from future %}
{% load message_extras %}

<a class="send_fan_mail" href="{% url 'send' %}" onclick="Tumblr.FanMail.show(this); return false;">
  <div class="hide_overflow">Send Fan Mail</div>
</a>

<ul class="controls_section">
  <li class="selected"><a href="{% url 'inbox' %}" class="messages">All messages</a></li>

</ul>
<!-- Inbox mass-delete -->
<ul class="controls_section">
  <li>
    <a href="{% url 'purge' %}" onclick="if (confirm('Are you sure you want to delete all {{ user|get_messags_count }} messages?')) {return true;} return false;"
      class="delete_all_messages">Delete all messages</a>
  </li>
</ul>


<ul class="controls_section" id="fan_mail_controls">
  <li class="flat no_hover no_push">
    <div style="text-align:center; padding:15px 20px; font:bold 12px Helvetica, sans-serif; line-height:16px; color:rgba(255,255,255, 0.8);">
      Your Inbox is an aggregate view of Messages (Questions, Fan Mail, Submissions) that any of your blogs receive.                    </div>
  </li>
</ul>

<!--</ul>-->
